@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
   font-family: 'Montserrat', sans-serif;
   scroll-behavior: smooth;
}


/*
sections
*/

.section, 
.footer {
   padding: 65px 20px;
   position: relative;
   display: flex;
}

   .container {
      flex-grow: 1;
      max-height: 100%;
      max-width: 1500px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      flex-direction: column;
      display: flex;
      position: relative;
   }
      .row {
         flex-grow: 1;
         display: flex;
         max-height: 100%;
         flex-wrap: wrap;
         position: relative;
      }

         .col {
            width: 100%;
            padding: 20px;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
         }


/*
header
*/

.header {
   position: relative;
   display: flex;
   height: 120px;
   margin: 0 20px;
   z-index: 9;
   margin-bottom: -120px;

   .row {
      display: flex;
      justify-content: space-between;
  
      .col {
         width: auto;
         flex-direction: row;
         align-items: center;
         display: flex;
         justify-content: flex-start;
      }

      .col-3 {
         justify-content: flex-end;
      }

      .col-1, 
      .col-3 {
         width: 200px;
      }

      .col-4 {
         display: none;
      }

      .logo, 
      .logo img {
         height: 30px;
         max-width: initial;
      }

      .menu {
         display: flex;
         align-items: center;
         flex-direction: row;
         gap: 10px;

         ul {
            flex-direction: row;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            list-style-type: none;
            align-items: center;
         }
      }
   }
}

#profile-icon {
   cursor: pointer;

   img {
      height: 40px;
      box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
      border-radius: 35px;
   }
}

#profile-panel {
   padding: 15px 20px;
   background-color: #fff;
   border-radius: 5px;
   display: none;
   position: absolute;
   top: 105px;
   box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);

   .email {
      margin-bottom: 0;
   }

   .role {
      text-transform: lowercase;
      opacity: .5;
   }

   form {
      display: flex;
      gap: 10px;
      cursor: pointer;

      a {
         color: #000;
      }
   }
}


/*
responsive-nav
*/

.responsive-nav {
   transition: 1s;
   // background: linear-gradient(45deg, #FDB000, #FC0A0A);  
   background-color: #000;
   position: fixed;
   z-index: 999;
   height: 100%;

   .container {
      height: 100%;

      .row {
         height: 100%;
         flex-direction: column;
         width: 100vw;
         justify-content: space-evenly;

         .col {
            align-items: center;

            .menu ul {
               display: flex;
               flex-direction: column;
               gap: 20px;
               align-items: center;
            }
         }

         .col-3 {
            .menu {
               .icon-small {
                  display: none;
               }
            }
         }

         .col-4 {
            .close {
               background-color: #fff;
               padding: 15px;
               border-radius: 35px;
            }
         }
      }
   }
}

@media (max-width: 1000px) {
   .header {
      .close {
         display: none;
      }

      .col-2,
      .col-3  {
         display: none !important;
      }

      .col-4 {
         display: flex !important;
      }
   }

   .responsive-nav {
      .col-3 {
         display: none;
      }
      .open {
         display: none;
      }
   }
}


/*
global
*/

a {
   text-decoration: none;
   color: #fff;
   font-weight: 500;
}

hr {
   margin-bottom: 19px;
}


/*
hero
*/

.hero {
   /* chnage url to local */
   background-image: url('http://127.0.0.1:8000/storage/images/background-1.png');
   background-size: cover;
   height: calc(100vh - 120px);
   z-index: 8;

   .col-1 {
      justify-content: center;
      color: #fff;
   }
}

.hero,
.showcase {
   .container-2 {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 300px;
      display: flex;
      z-index: 1;
      align-items: flex-end;
   
      .row-2 {
         background-color: #fff;
         flex-wrap: nowrap;

         .col {
            justify-content: flex-end;
      
            .media {
               max-width: 250px;
            }

            .text-1 {
               font-weight: 500;
            }
         }

         .col-1 {
            width: 120px; 
            position: relative;

            .media {
               filter: invert(40%) sepia(78%) saturate(6058%) hue-rotate(347deg) brightness(86%) contrast(150%);
            }

            .logo, 
            .logo img {
               height: 30px;
               max-width: initial;
            }
         }

         .col-wrapper {
            display: flex;
            margin-bottom: -58px;
         }
         
         .latest {
            display: flex;
            rotate: 90deg;
            position: absolute;
            justify-content: center;
            align-items: center;
            width: max-content;
            left: -46px;
            top: 56.5%;
            gap: 10px;
            font-weight: 500;

            .heading-3 {
               margin-bottom: 0;
            }
         }

         .col-2 .media,
         .col-3 .media,
         .col-4 .media {
            margin-bottom: 19px;
            display: flex;
            box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25)
         }
      
         .col-2 .media, 
         .col-2 .media img {
            max-width: 300px;
         }
      }
   }
}

@media (max-width: 1520px) {
   .hero {
      .container-2 {
         .row-2 {
            .col-4 {
               display: none;
            }
         }
      }
   }
}

@media (max-width: 980px) {
   .hero {
      .container-2 {
         .col-2 {
            display: none;
         }
      }
   }
}

@media (max-width: 1380px) {
   .hero,
   .showcase {
      height: 100%;
      flex-direction: column;
      margin-bottom: 65px;
      padding-bottom: 0;

      .col {
         width: auto;
      }

      .container-1 {
         .row {
            margin: 50px 0;

            .summary {
               width: auto
            }
         }
      }

      .container-2 {
         position: unset;
         height: 100%;

         .row-2 {
            margin: -20px;
            padding: 20px;
            flex-direction: column;

            .col-1 {
               padding: 20px;

               .latest {
                  rotate: 0deg;
                  position: unset;
               }
            }

            .col-4 {
               display: flex;
            }
         }
      }
   }

   .showcase {
      .container-2 {
         flex-direction: column;
         align-items: flex-start;

         .row-2 {
            width: calc(100% + 40px);
         }
      }
   }
}

@media (max-width: 1695px) {
   .summary {
      width: 600px;
   }
}

@media (max-width: 1470px) {
   .summary {
      width: 500px;
   }
}


/*
collection
*/

.collection {
   background-color: white;

   .row-2 {
      .col {
         width: 20%;
         
         a {
            color: #000;
         }

         .media {
            box-shadow: 0 50px 50px rgba(0, 0, 0, 0.25);
            margin-bottom: 19px;
            position: relative;
            overflow: hidden;

            .hover {
               backdrop-filter: brightness(90%) blur(90px);
               position: absolute;
               padding: 30px;
               width: 100%;
               bottom: -250px;
               transition: 300ms;
               color: #fff;

               .line {
                  border-left: 3px solid #fff;
                  padding-left: 15px;
                  margin-bottom: 20px;
               }

               .heading-4 {
                  margin-bottom: 5px;
               }

               .button-1 {
                  padding: 10px 15px;
               }

               a:not(.button-1) {
                  color: #fff;
               }
            }
         }

         .media:hover .hover {
            bottom: 0;
         }
 
         .text-1 {
            font-weight: 500;
         }
      }
   }
}

@media (max-width: 1200px) {
   .collection {
      .row-2 {
         .col {
            width: 25%;
         }
      }
   }
}

@media (max-width: 980px) {
   .collection {
      .row-2 {
         .col {
            width: 33.33%;
         }
      }
   }
}

@media (max-width: 680px) {
   .collection {
      .row-2 {
         .col {
            width: 50%;

            .hover {
               .heading-4 {
                  font-size: 20px;
               }

               .text-1 {
                  font-size: 15px;
               }
            }
         }
      }
   }
}


/*
subscription
*/

.subscription {
   background-image: url('http://127.0.0.1:8000/storage/images/background-2.png');
   background-size: cover;

   .row-1 {
      color: #fff;

      .col {
         justify-content: center;
         align-items: center;
      }
   }

   .row-2 {
      justify-content: space-evenly;
      align-items: center;

      .col {
         width: 28%;
         background-color: #fff;
         border-radius: 10px;
         color: #BABABA;
         font-weight: 500;
         padding: 30px;
         gap: 20px;
         box-shadow: 0 50px 50px rgba(0, 0, 0, 0.15);
         height: fit-content;
         margin: 20px;
         
         form {
            width: 100%;
         }

         .button-2 {
            font-weight: 600;
         }

         .top {
            display: flex;
            border-bottom: 1.5px solid #E9E9E9;
            padding-bottom: 20px;
            color: #000;
            gap: 20px;

            .icon {
               width: 75px;
               height: 75px;
               border-radius: 15px;
            }

            .heading-5 {
               margin: 0;
            }

            .price {
               .month {
                  display: flex;
                  gap: 2px;

                  :last-child {
                     display: flex;
                     align-items: flex-end;
                  }

                  .heading-5 {
                     margin: 0;
                  }

                  .text-1 {
                     color: #BABABA;
                     margin: 0;
                  }
               }
            }
         }

         .options-item {
            display: flex;
            gap: 10px;
            margin-bottom: 5px;

            .media {
               img {
                  filter: invert(73%) sepia(33%) saturate(6%) hue-rotate(327deg) brightness(93%) contrast(98%);
               }
            }

            span {
               color: #000;
            }
         }
      }

      .col-1 { 
         .icon {
            background-color: #FE0112;
         }

         .button-2 {
            background: linear-gradient(90deg, #FE0112, #FC4710);
         }
      }

      .col-2 { 
         .icon {
            background-color: #FF01BB;
         }

         .button-2 {
            background: linear-gradient(90deg, #FF01BB, #FF01BB);
         }
      }

      .col-3 { 
         .icon {
            background-color: #FFAA01;
         }

         .button-2 {
            background: linear-gradient(90deg, #FEAA01, #FC8E10);
         }
      }
   }

   .gradient {
      margin: -65px -20px;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0), #FFFFFF);
   }
}

@media (max-width: 1280px) {
   .subscription {
      .row-2 {
         .col {
            position: relative;
            width: 600px;
         }
      }
   }
}


/*
showcase
*/

.showcase {
   // margin-top: -120px;

   .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(75px);
      overflow: hidden;
      
      img {
         min-width: 100%;
         height: 100%;
      }
   }

   .container {
      margin-top: 60px;

      .col {
         justify-content: center;
         width: auto;

         .media img {
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
         }

         .author {
            opacity: .5;
         }

         .heading-6 {
            margin: 10px 0;
         }

         .heading-2,
         .heading-6,
         .text-1 {
            max-width: 780px;
            color: #fff;
         }
      }   
   }

   .container-1,
   .container-2 {
      .info-mb,
      .info-dk {
         z-index: 9;
         width: fit-content;
         border-radius: 5px;
         padding: 10px 20px;
         display: flex;
         color: white;
         background-color: rgba(0, 0, 0, 0.5);
         box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

         .info-item {
            // background-color: yellow;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
         }
      }

      .info-dk {
         border-radius: 0;
      }
   }
}

@media(min-width: 1380px) {
   .info-mb {
      display: none !important;
   }
}

@media(max-width: 1380px) {
   .info-dk {
      display: none !important;
   }
}

@media(max-width: 560px) {
   .info-mb {
      flex-wrap: wrap;

      .info-item {
         width: 50%;
      }
   }
}


/*
reservations
*/

.header-background {
   background-image: url('http://127.0.0.1:8000/storage/images/background-2.png');
   background-size: cover;
   height: 120px;
   // margin-top: -120px;
   padding: 0;
}

.reservations {
   .row-1 {
      .heading-2 {
         display: flex;
         align-items: center;
         gap: 20px;
         margin-bottom: 19px;
         color: #000;

         img {
            height: 30px;
            opacity: .5;
         }
      }
   }
   .row-2 {
      .col {
         width: 33.33%;
         color: #fff;
         height: 300px;
         border-radius: 25px;

         .media {
            width: 100%;
            height: 100%;

            img:not(.content img) {
               width: 100%;
               height: 100%;
               border-radius: 20px;
            }
         }
      }
   }  

   .row-2 {
      .col { 
         .media {
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
            margin-bottom: 19px;
            position: relative;
            border-radius: 20px;

            .content {
               backdrop-filter: brightness(90%) blur(90px);
               position: absolute;
               padding: 30px;
               width: 100%;
               height: 100%;
               bottom: 0;
               border-radius: 20px;
               display: flex;
               align-items: center;
               gap: 20px;

               img {
                  height: 100%;
                  box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
               }

               .content-info {
                  .line {
                     border-left: 3px solid #fff;
                     padding-left: 15px;
                     margin-bottom: 20px;
                  }
   
                  .heading-4 {
                     margin-bottom: 5px;
                  }
   
                  .button-wrapper {
                     margin-bottom: 0;

                     .button-1 {
                        padding: 10px 15px;
                     }   
                  }
                  
                  a:not(.button-1) {
                     color: #fff;
                  }

                  .expire {
                     position: absolute;
                     bottom: 0;
                     right: 0;
                     margin-right: 30px;
                     margin-bottom: 30px;
                     display: flex;
                     flex-direction: column;
                     align-items: flex-end;

                     .text-1 {
                        margin: 0;
                     }

                     :last-child {
                        opacity: .5;
                     }
                  }     

                  .cancel {
                     display: flex;
                     gap: 10px;
                     position: absolute;
                     top: 0;
                     right: 0;
                     margin-right: 30px;
                     margin-top: 30px;
                     opacity: .5;
                     transition: 200ms;

                     #loan-mb {
                        display: none;
                     }

                     form {
                        height: 100%;
                        width: 100%;
                     }
                  }

                  .cancel:hover {
                     opacity: 1;
                  }
               }
            }
         }
      }
   }
}

@media(max-width: 1400px) {
   .reservations {
      .row-2 {
         .col {
            width: 50%;
         }
      }
   }
}

@media(max-width: 940px) {
   .reservations {
      .row-2 {
         .col {
            width: 100%;
         }
      }
   }
}

@media(max-width: 480px) {
   .reservations {
      .row-2 {
         .col {
            .heading-4 {
               font-size: 20px;
            }

            .text-1 {
               font-size: 15px;
            }

            .button-wrapper {
               display: none;
            }

            .cancel {
               #loan-mb {
                  display: block !important;
               }
            }
         }
      }
   }
}

.message-wrapper {
   display: none;

   .message {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 200ms;
      z-index: 999;
   
      .content {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 30px;
         padding: 40px 60px;
         border-radius: 20px;
         background-color: #fff;
         max-width: 750px;
         text-align: center;
      }
   }
}

.form-background {
   background-image: url('http://127.0.0.1:8000/storage/images/background-2.png');
}

.form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 30px;
   padding: 40px 60px;
   border-radius: 20px;
   background-color: #fff;
   max-width: 750px;
   text-align: center;

   form {
      flex-direction: column;
      display: flex;
      width: 100%;
      gap: 20px;
   }

   .form-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   .button-3 {
      margin-right: 0 !important;
   }
}

.alert {
   .alert-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 200ms;
      z-index: 999;
   
      .content {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 30px;
         padding: 40px 60px;
         border-radius: 20px;
         background-color: #fff;
         max-width: 750px;
         text-align: center;

         // remove and change to class
         form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .form-items {
               width: 100%;
               display: flex;
               flex-direction: column;
               align-items: flex-start;
            }
         }
      }
   }
}


/*
messages
*/

.messages {
   .container {
      flex-direction: row;

      .row {
         width: 50%;
         align-content: flex-start;

         .heading-2 {
            display: flex;
            align-items: center;
            gap: 20px;
            color: #000;

            img {
               height: 35px;
            }
         }

         .col-1 {
            background-color: #fff;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);

            .heading-4 {
               margin-bottom: 10px;
            }
         }
      }
   }
}

@media(max-width: 845px) {
   .messages {
      .container {
         flex-direction: column;

         .row {
            width: 100%;
         }
      }
   }
}


/*
footer
*/

.footer {
   a {
      color: #000;
   }

   .row {
      justify-content: space-between;

      .col {
         width: auto;

         .heading-1 {
            font-size: 75px;

            span {
               color: #FF0101;
            }
         }
      }

      .col-1 {
         justify-content: space-between;
      }

      .col-2 {
         align-items: flex-end;

         :first-child {
            margin-bottom: 19px;
         }
      }
   }
}

@media (max-width: 845px) {
   .footer {
      .col-2 {
         align-items: flex-start !important;
      }
   }
}


/*
images
*/

.icon-small, 
.icon-small img {
   height: 20px;
}

.icon-normal, 
.icon-normal img {
   height: 50px;
}

.icon-large, 
.icon-large img {
   height: 80px;
}


/*
buttons
*/

.button-wrapper {
   display: flex;
   flex-wrap: wrap;

   .inactive {
      border: 3px solid rgba(0, 0, 0, 0);
      border-radius: 35px;
      color: #fff;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 300ms;      

      img {
         filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(107%) contrast(101%);
      }
   }

   .button-0 {
      border: 3px solid #fff;
      border-radius: 35px;
      background-color: #fff;
      color: #000;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 300ms;      
   }

   .button-1 {
      border: 3px solid #fff;
      border-radius: 35px;
      background-color: #fff;
      color: #000;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 300ms;      
   }

   .button-1:hover {
      border: 3px solid #000;
      background-color: rgba(0, 0, 0, 0);
      filter: invert(1);
   }

   .button-2 {
      border-radius: 35px;
      background-color: #000;
      text-transform: uppercase;
      padding: 15px 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #fff;
      width: 100%;
      justify-content: center;

      img {
         filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(107%) contrast(101%);
      }
   }

   .button-3 {
      border: 3px solid black;
      border-radius: 35px;
      background-color: #fff;
      color: #000;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 300ms;      
      margin-right: 10px;
      cursor: pointer;
   }

   .button-3:hover {
      background-color: #000;
      color: #fff;
   }

   .button-4 {
      border: 3px solid black;
      border-radius: 35px;
      background-color: #000;
      color: #fff;
      padding: 10px 25px;
      display: flex;
      align-items: center;
      gap: 5px;
      transition: 300ms;      
      cursor: pointer;
   }

   .button-4:hover {
      border: 3px solid #000;
      background-color: rgba(0, 0, 0, 0);
      color: #000;
   }
}


/*
heading, text
*/

.heading-1 {
   font-family: 'Lora', sans-serif;
   font-size: 100px;
   line-height: 1em;
   margin-bottom: 19px;
}

.heading-2 {
   font-family: 'Lora', sans-serif;
   font-size: 50px;
   line-height: 1em;
   margin-bottom: 19px;
}

.heading-3 {
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 2px;
   color: #FF0101;
   margin-bottom: 19px;
}

.heading-4 {
   font-family: 'Lora', sans-serif;
   font-size: 22px;
   margin-bottom: 19px;
}

.heading-5 {
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   margin-bottom: 19px;
}

.heading-6 {
   font-family: 'Montserrat', sans-serif;
   font-size: 22px;
   font-weight: 700;
   margin-bottom: 19px;
}

.heading-1:last-child, 
.heading-2:last-child, 
.heading-3:last-child,
.heading-4:last-child,
.heading-5:last-child,
.heading-6:last-child {
   margin-bottom: 0;
}

.text-2 {
   font-size: 15px;
   font-style: italic;
   opacity: .5;
}

.text-3 {
   opacity: .5;
}

.text-2,
.text-1, 
.button-wrapper {
   margin-bottom: 19px;
}

.text-2:last-child,
.text-1:last-child, 
.button-wrapper:last-child {
   margin-bottom: 0px;
}

@media (max-width: 680px) {
   .heading-1 {
      font-size: 65px !important;
   }

   .heading-2 {
      font-size: 40px !important;
   }
}


/*
forms
*/

.form-1 {
   display: flex;
   backdrop-filter: brightness(90%) blur(90px);
   color: #fff;
   padding: 10px 20px;
   justify-content: center;
   width: fit-content;
   gap: 5px;
   border-radius: 35px;

   img {
      filter: invert(85%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(108%) contrast(101%);
   }

   .field-1 {
      margin-top: auto;
      margin-bottom: auto;
   }   
}

